.component {
  position: relative;
  width: 100%;

  &--spacing {
    padding: to-rem(50) to-rem(0);

    @include respond-above(tablet) {
      padding: to-rem(100) to-rem(0);
    }  
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: to-rem(0) to-rem(20);
    margin: to-rem(0) auto;
    width: auto;

    @include respond-above(largeDesktop) {
      width: calc(100% - 260px);
    }  

    @include respond-between(smallDesktop, largeDesktop) {
      width: calc(100% - 180px);
    }
    
    @include respond-between(largeTablet, smallDesktop) {
      width: calc(100% - 150px);
    }   
  }

  &--1 {
    padding: to-rem(0);
    flex: 100%;

    @include respond-above(desktop) {
      padding: to-rem(0) to-rem(15);
    }

    @include respond-between(tablet, desktop) {
      padding: to-rem(0) to-rem(15);
    } 
  }

  &--2 {
    padding: to-rem(0);
    flex: 100%;

    @include respond-above(desktop) {
      flex: to-rem(0) to-rem(0) calc(50% - 30px);
      padding: to-rem(0) to-rem(15);
    }

    @include respond-between(tablet, desktop) {
      flex: to-rem(0) to-rem(0) calc(50% - 30px);
      padding: to-rem(0) to-rem(15);
    }
  }

  &--3 {
    padding: to-rem(0);
    flex: 100%;

    @include respond-above(desktop) {
      flex: to-rem(0) to-rem(0) calc(33.33% - 30px);
      padding: to-rem(0) to-rem(15);
    }

    @include respond-between(tablet, desktop) {
      flex: to-rem(0) to-rem(0) calc(50% - 30px);
      padding: to-rem(0) to-rem(15);
    }
  }

  &--4 {
    padding: to-rem(0);
    flex: 100%;

    @include respond-above(desktop) {
      flex: to-rem(0) to-rem(0) calc(25% - 30px);
      padding: to-rem(0) to-rem(15);
    } 

    @include respond-between(tablet, desktop) {
      flex: to-rem(0) to-rem(0) calc(50% - 30px);
      padding: to-rem(0) to-rem(15);
    }    
  }

  &--5 {
    padding: to-rem(0);
    flex: 100%;

    @include respond-above(smallDesktop) {
      flex: to-rem(0) to-rem(0) calc(20% - 30px);
    }

    @include respond-above(desktop) {
      padding: to-rem(0) to-rem(15);
    }

    @include respond-between(desktop, smallDesktop) {
      flex: to-rem(0) to-rem(0) calc(25% - 30px);
    }

    @include respond-between(tablet, desktop) {
      flex: to-rem(0) to-rem(0) calc(33.33% - 30px);
      padding: to-rem(0) to-rem(15);
    } 
    
    @include respond-between(mobile, tablet) {
      flex: to-rem(0) to-rem(0) calc(50% - 30px); 
    }  
  }
}
 