body {
  font: $font-body-copy;
  height: 100%;
  margin: to-rem(0);
  padding: to-rem(0);
  width: 100%;

  .layout {
    position: relative;
    top: to-rem(50);
    padding-bottom: to-rem(165);

    @include respond-above(largeTablet) {
      top: to-rem(100);
    }

    @media screen and (min-width: 768px) and (max-height: 700px) {
      top: to-rem(100);
    }
  }
}
