.header {
  position: fixed;
  background-color: $color-white;
  top: to-rem(0);
  width: 100%;
  height: to-rem(50);
  border-bottom: to-rem(1) solid $color-firebrick;
  z-index: 2;

  @include breakpoint(min-width, largeTablet) {
    height: to-rem(100);
  }  

  &__container {
    flex-flow: column;
    justify-content: space-between;
    padding: to-rem(0);

    @include breakpoint(min-width, largeTablet) {
      flex-flow: row;
      padding: to-rem(0) to-rem(20);
    }
  }

  &__bar {
    height: to-rem(50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: to-rem(0) to-rem(20);

    @include breakpoint(min-width, largeTablet) {
      height: to-rem(100);
      padding: to-rem(0);
    }
  }
}
