.footer {
  font: $font-footer-mobile;
  background-color: $color-black;
  height: to-rem(80);
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: to-rem(165);

  @include respond-above(tablet) {
    font: $font-footer-desktop;
  }  

  &__text {
    width: 100%;
  }

  &__bg {
    background-image: url('@images/copyright-bg-bars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: to-rem(165);
    position: absolute;
    top: to-rem(-165);
  }
}
